@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #2A324B;
    --lightblue: #58699D;
    --white: #E1E5EE;
    --allWhite: #ffffff;

}

html {
    box-sizing: border-box;
}

body {
    background: var(--white);
    font-family: Montserrat, sans-serif;
    font-size: 20px; 
}

#navtab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    min-width: 1050px;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    font-weight: bold;
    margin: auto auto 0 auto;
    padding: 0;
    

        

    button {
        display: block;
        background: var(--blue);
        color: var(--white);
        font-weight: bold;
        font-family: Montserrat, sans-serif;
        padding: 30px 40px;
        border: none;
        font-size: 20px;
        padding-right: 60px;
            
    }
        
    button:hover {
        background: var(--allWhite);
        color: var(--blue);
        cursor: pointer;
    } 

    
    

    
    
}

#whiteContainer {
    background: var(--allWhite);
    width: 100%;
    max-width: 1070px;
    min-width: 1050;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.active-tab {
    background: var(--allWhite);
    color: var(--blue);
    
}

.tab{
    background-color: var(--blue);
    color: var(--white)
}